<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title RAO VẶT ONLINE
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../css/mdb.min.css')
    link(rel='stylesheet', href='../css/owl.carousel.min.css')
    link(rel='stylesheet', href='../css/owl.theme.default.min.css')
    link(rel='stylesheet', href='../css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../css/layout.css')
    link(rel='shortcut icon', href='../img/favicon.png')
  body
    .go-top(title='Lên đầu trang')
      span
      span

    block header
      header
        section.menu.wow
          .container
            .logo
              a(href='index.html')
                img(src='../img/logo.png')

            .main-menu
              ul.nav
                .nav-close
                  i.mdi.mdi-close.d-block.d-lg-none
                li.nav-item
                  a.nav-link(href='index.html') Trang chủ
                li.nav-item
                  a.nav-link(href='san-pham.html') Bất động sản
                li.nav-item
                  a.nav-link(href='san-pham.html') Máy vệ sinh
                li.nav-item
                  a.nav-link(href='tin-tuc.html') Dịch vụ vệ sinh
                li.nav-item
                  a.nav-link(href='tin-tuc.html') Điện máy
                li.nav-item
                  a.nav-link(href='tin-tuc.html') Thiết bị gia dụng

            .account
              a.login(href='dang-nhap.html') Đăng nhập
              a.post-news(href="dang-tin.html") ĐĂNG TIN MIỄN PHÍ

            .menu-btn.d-lg-none.d-block
              .toggleMenu
                i.mdi.mdi-menu
              .search-btn
                i.mdi.mdi-magnify

        section.search
          .container
            form(action="")
              .keyword
                input(type="text", placeholder="Nhập từ khóa")
                i.mdi.mdi-magnify

              .select-form
                i.mdi.mdi-map-outline
                select
                  option(value="")
                    | Chọn Tỉnh / Thành phố
                  option(value="") Hà Nội
                  option(value="") TP. Hồ Chí Minh
                  option(value="") Tây Nguyên
              .select-form
                i.mdi.mdi-map-marker-outline
                select
                  option(value="")
                    | Chọn Quận / Huyện
                  option(value="") Hà Nội
                  option(value="") TP. Hồ Chí Minh
                  option(value="") Tây Nguyên
              .select-form
                i.mdi.mdi-rhombus-split
                select
                  option(value="")
                    | Chọn Chuyên mục
                  option(value="") Bất động sản
                  option(value="") Máy vệ sinh
                  option(value="") Dịch vụ vệ sinh
                  option(value="") Điện máy
                  option(value="") Thiết bị gia dụng
              
              button(type="submit")
                i.mdi.mdi-magnify
                | TÌM KIẾM
              

        .overlay-menu


        
    article
      block article


    
    block footer
      section.footer
        .container
          .row
            .col-lg-4.col-sm-6
              .company
                img(src='../img/logo.png')
                ul
                  li Giấy ĐKKD số: 0313969106 Do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp lần đầu ngày 17/08/2016. 
                  li Giấy phép ICP số 16/GP-STTTT do Sở Thông tin và Truyền thông TP. Hồ Chí Minh cấp ngày 24 tháng 4 năm 2017.

            .col-xl-4.col-lg-4.col-sm-6
              .about
                h4 
                  | CÔNG TY BẤT ĐỘNG SẢN SAIGONREAL
                  i.mdi.mdi-chevron-down
                ul
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia, debitis? Animi, explicabo reprehenderit voluptatibus corrupti quibusdam ullam modi nesciunt pariatur unde fuga asperiores architecto, exercitationem aperiam quasi illum culpa? Nobis.

            .col-xl-4.col-lg-4.col-sm-6
              .contact
                h4 
                  | Thông tin liên hệ
                  i.mdi.mdi-chevron-down
                ul
                  li
                    i.mdi.mdi-map-outline
                    | Địa chỉ: Lầu 7, tòa nhà Lutaco Tower, Số 173A Nguyễn Văn Trỗi, Phường 11, Q. Phú Nhuận, TP HCM

                  li
                    i.mdi.mdi-deskphone
                    | Hotline: 0903 236 862 - 0969 980 365
                  li
                    i.mdi.mdi-email-outline
                    | Email: saigonreal@gmail.com


              
          .copyright.text-center
            h5 Copyright @ 2019 Saigonreal. All Reserved. Designed by Tri Viet
          



                    
                    
                    


      script(src='../js/jquery-3.3.1.min.js')
      script(src='../js/bootstrap.min.js')
      script(src='../js/mdb.min.js')
      script(src='../js/owl.carousel.min.js')
      script(src='../js/layout.js')
