extends _inc

block article         
  section.category-home
    .container
      .box-category
        a(href='san-pham.html')
          img(src='../img/cate-1.png')
          .box-category-detail
            img(src='../img/cate-icon-1.png')
            h4 BẤT ĐỘNG SẢN
      
      .box-category
        a(href='san-pham.html')
          img(src='../img/cate-2.png')
          .box-category-detail
            img(src='../img/cate-icon-2.png')
            h4 MÁY VỆ SINH
      
      .box-category
        a(href='san-pham.html')
          img(src='../img/cate-3.png')
          .box-category-detail
            img(src='../img/cate-icon-3.png')
            h4 DỊCH VỤ VỆ SINH
      
      .box-category
        a(href='san-pham.html')
          img(src='../img/cate-4.png')
          .box-category-detail
            img(src='../img/cate-icon-4.png')
            h4 điện máy
      
      .box-category
        a(href='san-pham.html')
          img(src='../img/cate-5.png')
          .box-category-detail
            img(src='../img/cate-icon-5.png')
            h4 THIẾT BỊ GIA DỤNG
      
  section.flash-news
    .container
      .flash-news-zone
        .flash-news-title
          i.mdi.mdi-flash
          h4 Tin nhanh
        .owl-carousel.flash-carousel.owl-theme
          .item    
            h5
              a(href='chi-tiet-san-pham.html') 
                | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm,P1
          .item    
            h5
              a(href='chi-tiet-san-pham.html') 
                | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm,P1
          .item    
            h5
              a(href='chi-tiet-san-pham.html') 
                | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm,P1
          .item    
            h5
              a(href='chi-tiet-san-pham.html') 
                | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm,P1
          .item    
            h5
              a(href='chi-tiet-san-pham.html') 
                | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm,P1
        
  section.hot-news
    .container
      ul
        li
          .box-hot-news
            .box-hot-news-img
              a(href='chi-tiet-san-pham.html') 
                img(src='../img/product-1.png')
                h6 bất động sản
            .box-hot-news-detail
              h4
                a(href='chi-tiet-san-pham.html') 
                  | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm, P1, Quận 12
              h5 Bởi
                span Kemmie
                | - 08/07/2019
        
        li
          .box-hot-news
            .box-hot-news-img
              a(href='chi-tiet-san-pham.html') 
                img(src='../img/product-1.png')
                h6 bất động sản
            .box-hot-news-detail
              h4
                a(href='chi-tiet-san-pham.html') 
                  | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm, P1, Quận 12
              h5 Bởi
                span Kemmie
                | - 08/07/2019
        
        li
          .box-hot-news
            .box-hot-news-img
              a(href='chi-tiet-san-pham.html') 
                img(src='../img/product-1.png')
                h6 bất động sản
            .box-hot-news-detail
              h4
                a(href='chi-tiet-san-pham.html') 
                  | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm, P1, Quận 12
              h5 Bởi
                span Kemmie
                | - 08/07/2019
        
        li
          .box-hot-news
            .box-hot-news-img
              a(href='chi-tiet-san-pham.html') 
                img(src='../img/product-1.png')
                h6 bất động sản
            .box-hot-news-detail
              h4
                a(href='chi-tiet-san-pham.html') 
                  | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm, P1, Quận 12
              h5 Bởi
                span Kemmie
                | - 08/07/2019
        
        li
          .box-hot-news
            .box-hot-news-img
              a(href='chi-tiet-san-pham.html') 
                img(src='../img/product-1.png')
                h6 bất động sản
            .box-hot-news-detail
              h4
                a(href='chi-tiet-san-pham.html') 
                  | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm, P1, Quận 12
              h5 Bởi
                span Kemmie
                | - 08/07/2019
        
        li
          .box-hot-news
            .box-hot-news-img
              a(href='chi-tiet-san-pham.html') 
                img(src='../img/product-1.png')
                h6 bất động sản
            .box-hot-news-detail
              h4
                a(href='chi-tiet-san-pham.html') 
                  | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm, P1, Quận 12
              h5 Bởi
                span Kemmie
                | - 08/07/2019
        
        li
          .box-hot-news
            .box-hot-news-img
              a(href='chi-tiet-san-pham.html') 
                img(src='../img/product-1.png')
                h6 bất động sản
            .box-hot-news-detail
              h4
                a(href='chi-tiet-san-pham.html') 
                  | Cho thuê nhà nguyên căn HXH đường Phạm Văn Chiêu gần ngã 3 Cây Trâm, P1, Quận 12
              h5 Bởi
                span Kemmie
                | - 08/07/2019

  section.article-middle
    .container
      .left
        .estate
          .title-page
            h1 bất động sản
            a(href='san-pham.html')
              | Xem tất cả
              i.mdi.mdi-arrow-right 
          ul
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
            li
              .box-estate
                a(href="chi-tiet-san-pham.html")
                  img(src='../img/product-1.png')
                .box-estate-detail
                  h4
                    a(href="chi-tiet-san-pham.html")
                      i.mdi.mdi-arrow-right
                      | Tuyển tài xế, lơ xe làm ở Bình Dương lương cao phát lương tuần
                  h5 Bởi Kemmie - 15/06/2019
            
        .post-now
          .post-now-title
            h1 KÝ GỬI ĐẤT NỀN
            h5 hoặc
            h1 CẦN THUÊ ĐẤT NỀN
          .post-now-btn
            a(href='dang-tin.html') ĐĂNG TIN NGAY

